<!-- Sources: -->
<!-- (1) "flask-starter-app", mlapresta, Andrew Kamand, https://github.com/osu-cs340-ecampus/flask-starter-app
		 - Scope: Most sections below.
		 - Date: First instance of using the code started on 10/08/2022.
		 - Originality: Our code/approach was based on this source, but it deviated materially 
			as we learned additional techniques via trial and error. --> 

<!-- (2) "Template Designer Documentation", Pallets, https://jinja.palletsprojects.com/en/3.1.x/templates/
		 - Scope: Areas where jinja is used and also include statements.
		 - Date: First instance of using the code started on 11/15/2022.
		 - Originality: Our code/approach was based on this source. -->

<html>

    <head>
        <title>Movie Summary</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='app.css') }}">
        	
        <!-- Call the included tempate _nav to render the nav links -->	
        {% include "_nav.j2" %}

    </head>

    <body>
        <br>
        <br>
        <h1>Movie Summary</h1>
        <h3>Summary of all the information on the movie you have selected to view.</h3>
        <a href='/index'><input class="btn" type="button" value="Go back to the homepage"></a>
        </br>
        </br>
        <div>
            <table border="1" cellpadding="5"> 
            <!-- This uses data passed from app.py --> 
                {% if data %}
                    <thead>
                        <tr>
                            <!-- Iterate through each key in the first entry to get the column name -->
                            {% for key in data[0].keys() %}

                            <!-- Create a <th> tag with the key inside of it, this will be our header row -->
    						<!-- Apply aliasing here so it doesn't mess with the table column naming in the data -->                      
                            
                            <th scope="col" data-field="{{ key }}" data-filter-control="input">
                                {% if key == "movie_id" %}
                                    Movie ID
                                {% elif key == "movie_name" %}
                                    Movie Name
                                {% elif key == "movie_year_released" %}
                                    Year Released
                                {% elif key == "movie_language" %}
                                    Language
                                {% elif key == "director_name" %}
                                    Director Name								
                                {% else %}
                                    {{ key }}
                                {% endif %}
                            {% endfor %}
                        </tr>

                    <tbody>
                        <!-- Now, iterate through every item in data -->
                        {% for item in data %}
                        <tr>
                            <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}
                            
                            <!-- Create a <td> element with the value of that key in it -->
                            <td>{{item[key]}}</td> {% endfor %} 
                        </tr> 
                        {% endfor %} 
                {% endif %}
            </table>
        </div>

        </br>

        <div>
            <table border="1" cellpadding="5"> 
            
                <!-- This uses actors passed from app.py --> 
                {% if actors %}
                    <thead>
                        <tr>
                            <!-- Iterate through each key in the first entry to get the column name -->
                            {% for key in actors[0].keys() %}

                            <!-- Create a <th> tag with the key inside of it, this will be our header row -->
    						<!-- Apply aliasing here so it doesn't mess with the table column naming in the data -->                                                 
                            
                            <th scope="col" data-field="{{ key }}" data-filter-control="input">
                                {% if key == "actor_name" %}
                                    Actor Name
                                {% else %}
                                    {{ key }}
                                {% endif %}
                            </th>
                            {% endfor %}
                        </tr>

                    <tbody>
                        <!-- Now, iterate through every item in data -->
                        {% for item in actors %}
                        <tr>
                            <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}
                            
                            <!-- Create a <td> element with the value of that key in it -->
                            <td>{{item[key]}}</td> {% endfor %} 
                        </tr> 
                        {% endfor %} 
                {% endif %}
            </table>
        </div>

        </br>

        <div>
            <table border="1" cellpadding="5"> 

                <!-- This uses genres passed from app.py --> 
                {% if genres %}
                    <thead>
                        <tr>
                            <!-- Iterate through each key in the first entry to get the column name -->
                            {% for key in genres[0].keys() %}

                            <!-- Create a <th> tag with the key inside of it, this will be our header row -->
    						<!-- Apply aliasing here so it doesn't mess with the table column naming in the data -->                                                 
                                                        
                            <th scope="col" data-field="{{ key }}" data-filter-control="input">
                                {% if key == "genre_name" %}
                                    Genre Name
                                {% else %}
                                    {{ key }}
                                {% endif %}
                            </th>
                            {% endfor %}
                        </tr>

                    <tbody>
                        <!-- Now, iterate through every item in data -->
                        {% for item in genres %}
                        <tr>
                            <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}
                            
                            <!-- Create a <td> element with the value of that key in it -->
                            <td>{{item[key]}}</td> {% endfor %} 
                        </tr> 
                        {% endfor %} 
                {% endif %}
            </table>
        </div>

        </br>

        <div>
            <table border="1" cellpadding="5"> 

                <!-- This uses reviews passed from app.py --> 
                {% if reviews %}
                    <thead>
                        <tr>
                            <!-- Iterate through each key in the first entry to get the column name -->
                            {% for key in reviews[0].keys() %}

                            <!-- Create a <th> tag with the key inside of it, this will be our header row -->
    						<!-- Apply aliasing here so it doesn't mess with the table column naming in the data -->                                                                            
                            
                            <th scope="col" data-field="{{ key }}" data-filter-control="input">
                                {% if key == "user_name" %}
                                    User Name
                                {% elif key == "movie_rating" %}
                                    Movie Rating
                                {% else %}
                                    {{ key }}
                                {% endif %}
                            </th>
                            {% endfor %}
                            </tr>

                    <tbody>
                        <!-- Now, iterate through every item in data -->
                        {% for item in reviews %}
                        <tr>
                            <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}
                            
                            <!-- Create a <td> element with the value of that key in it -->
                            <td>{{item[key]}}</td> {% endfor %} 
                        </tr> 
                        {% endfor %} 
                {% endif %}
            </table>
        </div>

<footer>
	<p>Created by Michael Hrenko & Allysa Foot. © 2020</p>
</footer>
</body>
</html>