<!-- Sources: -->
<!-- (1) "flask-starter-app", mlapresta, Andrew Kamand, https://github.com/osu-cs340-ecampus/flask-starter-app
		 - Scope: Most sections below.
		 - Date: First instance of using the code started on 10/08/2022.
		 - Originality: Our code/approach was based on this source, but it deviated materially 
			as we learned additional techniques via trial and error. --> 

<!-- (2) "Template Designer Documentation", Pallets, https://jinja.palletsprojects.com/en/3.1.x/templates/
		 - Scope: Areas where jinja is used and also include statements.
		 - Date: First instance of using the code started on 11/15/2022.
		 - Originality: Our code/approach was based on this source. -->

<html>

<head>
	<title>Users Reviews</title>

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='app.css') }}">
	
	<!-- Call the included tempate _nav to render the nav links -->	
	{% include "_nav.j2" %}
	
	<!-- Dynamic display to show browse or insert -->
	<script type="text/javascript">
	function showform(dowhat) {

		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
		}
	}

	function newUserReview() {
		showform('insert');
	}

	function browseUsersReviews() {
		showform('browse');
	}

	</script>
</head>

<body onload="browseUsersReviews()">
	<br>
    <br>
	<h1>Users Reviews</h1> 
	
	<div id="browse">

		<p><a href="#" onClick="newUserReview()">Add New User Review</a></p>

		<!-- Call the included tempate _create_table to render the table -->
		{% set createTbl = 'users_reviews' %}
		{% include "_create_table.j2" %}
  
	<p>&nbsp;</p>
	</div>

	<div id="insert">

		<!-- Insert movie and user review combination form -->

		<form id="insertUserReview" action="/users_reviews" method="post">
			<legend><strong>Add user review below:</strong></legend>
			<fieldset>

				<!-- This uses user_list passed from app.py --> 
				<label for="user_name">User Name:</label>
				<select class="form-control" id="user_id" name="user_id" placeholder="" required>
					<option value="" selected="selected"></option>
					{% for row in user_list %} 
					<option value="{{row.user_id}}">{{row.user_name}}</option>
					{% endfor %}
				</select>
				<br>
				<br>
	
				<!-- This uses movie_list passed from app.py --> 
				<label for="movie_name">Movie Name:</label>
				<select class="form-control" id="movie_id" name="movie_id" placeholder="" required>
					<option value="" selected="selected"></option>
					{% for row in movie_list %} 
					<option value="{{row.movie_id}}">{{row.movie_name}}</option>
					{% endfor %}
				</select>
				<br>
				<br> 

				<label for="movie_rating">Movie Rating:</label>
				<select class="form-control" id="movie_rating" name="movie_rating" placeholder="" required>			
					<option value="5">5</option>
					<option value="4">4</option>
					<option value="3">3</option>
					<option value="2">2</option>
					<option value="1">1</option>
				</select>

            </fieldset>

			<!-- Add and cancel buttons -->
			<input type="submit" value="Add User Review" name="Add_User_Review" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseUsersReviews()"> 

        </form>
	</div>

<footer>
	<p>Created by Michael Hrenko & Allysa Foot. © 2020</p>
</footer>
</body>
</html>