
<!-- Links shared across all pages -->
<div class="nav-header">
    <ul>
        <li class="nav-menu"><a href="/index">Home</a></li>
        <li class="nav-menu"><a href="/movies">Movies</a></li>
        <li class="nav-menu"><a href="/actors">Actors</a></li>
        <li class="nav-menu"><a href="/directors">Directors</a></li>
        <li class="nav-menu"><a href="/genres">Genres</a></li>
        <li class="nav-menu"><a href="/users">Users</a></li>
        <li class="nav-menu"><a href="/movies_actors">Movies Actors</a></li>
        <li class="nav-menu"><a href="/movies_genres">Movies Genres</a></li>
        <li class="nav-menu"><a href="/users_reviews">Users Reviews</a></li>
    </ul>
</div>
