<!-- Sources: -->
<!-- (1) "flask-starter-app", mlapresta, Andrew Kamand, https://github.com/osu-cs340-ecampus/flask-starter-app
		 - Scope: Most sections below.
		 - Date: First instance of using the code started on 10/08/2022.
		 - Originality: Our code/approach was based on this source, but it deviated materially 
			as we learned additional techniques via trial and error. --> 

<!-- (2) "Template Designer Documentation", Pallets, https://jinja.palletsprojects.com/en/3.1.x/templates/
		 - Scope: Areas where jinja is used and also include statements.
		 - Date: First instance of using the code started on 11/15/2022.
		 - Originality: Our code/approach was based on this source. -->

<html>

<head>
	<title>Edit User Review</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='app.css') }}">

    <!-- Call the included tempate _nav to render the nav links -->	
	{% include "_nav.j2" %}
</head>

<body>
    <br>
    <br>
	<h1>Edit User Review</h1> 

    <div>

		<!-- Call the included tempate _create_table to render the table -->
		{% set createTbl = 'edit_user_review' %}
		{% include "_create_table.j2" %}

        <p></p>

        <div id="editUserReview">

		    <!-- Edit user review form -->

            <form id="editUserReview" action="/edit_user_review/{{data[0].review_id}}" method="post">
                <legend><strong>Edit user review below:</strong></legend>
                <fieldset>
                    
                    <!-- Create hidden form input to store the actor_id we are editing so we can access it in app.py -->
                    <input type="hidden" value="{{data[0].review_id}}" class="form-control" id="review_id" name="review_id" required>          
            
                    <label for="movie_rating">Movie Rating:</label>
                    <select class="form-control" id="movie_rating" name="movie_rating" placeholder="" required>
                        <option value="{{data[0].movie_rating}}" selected>{{data[0].movie_rating}}</option>
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                
                </fieldset>
            	
                <!-- Edit and cancel buttons -->
                <input type="submit" value="Save" name="Edit_User_Review" class="btn btn-primary" style="margin:.5rem;">
                <a href='/users_reviews'><input class="btn" type="button" value="Cancel"></a>
            </form>
<footer>
	<p>Created by Michael Hrenko & Allysa Foot. © 2020</p>
</footer>
</body>
</html>