<!-- Sources: -->
<!-- (1) "flask-starter-app", mlapresta, Andrew Kamand, https://github.com/osu-cs340-ecampus/flask-starter-app
		 - Scope: Most sections below.
		 - Date: First instance of using the code started on 10/08/2022.
		 - Originality: Our code/approach was based on this source, but it deviated materially 
			as we learned additional techniques via trial and error. --> 

<!-- (2) "Template Designer Documentation", Pallets, https://jinja.palletsprojects.com/en/3.1.x/templates/
		 - Scope: Areas where jinja is used and also include statements.
		 - Date: First instance of using the code started on 11/15/2022.
		 - Originality: Our code/approach was based on this source. -->

<html>

<head>
	<title>Edit User</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='app.css') }}">

    <!-- Call the included tempate _nav to render the nav links -->	
	{% include "_nav.j2" %}
</head>

<body>
    <br>
    <br>
	<h1>Edit User</h1> 

    <div>

		<!-- Call the included tempate _create_table to render the table -->
		{% set createTbl = 'edit_user' %}
		{% include "_create_table.j2" %}

        <p></p>

        <div id="editUser">

		    <!-- Edit user form -->

            <form id="editUser" action="/edit_user/{{data[0].user_id}}" method="post">
                <legend><strong>Edit user below:</strong></legend>
                <fieldset>
                    
                    <!-- Create hidden form input to store the actor_id we are editing so we can access it in app.py -->
                    <input type="hidden" value="{{data[0].user_id}}" class="form-control" id="user_id" name="user_id" required>
                    
                    <label for="make">User First Name:</label>
                    <input type="text" value="{{data[0].user_first_name}}" class="form-control" id="user_first_name" name="user_first_name" required>
                    <br>
                    <br>

                    <label for="make">User Last Name:</label>
                    <input type="text" value="{{data[0].user_last_name}}" class="form-control" id="user_last_name" name="user_last_name" required>
                    <br>
                    <br>

                    <label for="make">User Email Address:</label>
                    <input type="email" value="{{data[0].user_email}}" class="form-control" id="user_email" name="user_email" required>
                
                </fieldset>

                <!-- Edit and cancel buttons -->
                <input type="submit" value="Save" name="Edit_User" class="btn btn-primary" style="margin:.5rem;">
                <a href='/users'><input class="btn" type="button" value="Cancel"></a>
            </form>
<footer>
	<p>Created by Michael Hrenko & Allysa Foot. © 2020</p>
</footer>
</body>
</html>