<!-- Sources: -->

<!-- (1) "flask-starter-app", mlapresta, Andrew Kamand, https://github.com/osu-cs340-ecampus/flask-starter-app
		 - Scope: Most sections below.
		 - Date: First instance of using the code started on 10/08/2022.
		 - Originality: Our code/approach was based on this source, but it deviated materially 
			as we learned additional techniques via trial and error. --> 

<!-- (2) "Template Designer Documentation", Pallets, https://jinja.palletsprojects.com/en/3.1.x/templates/
		 - Scope: Areas where jinja is used and also include statements.
		 - Date: First instance of using the code started on 11/15/2022.
		 - Originality: Our code/approach was based on this source. -->
    
<!--  (3) "How to Create an Image Slider or Slideshow”, w3docs.com, 
      https://www.w3docs.com/snippets/css/how-to-create-an-image-slider-or-slideshow.html. Accessed 24 Nov 2022.
		 - Scope: div class="slider"
		 - Date: 11/24/2022
		 - Originality: copied -->

<!-- Image URLs -->
<!-- Image 1: https://www.google.com/url?sa=i&url=https%3A%2F%2Fthedirect.com%2Farticle%2Fblack-panther-2-wakanda-forever-disney-genre&psig=AOvVaw0TNAcLRGk7NXfHj8eMwtUL&ust=1670365718379000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCKj1qa3D4_sCFQAAAAAdAAAAABAN -->
<!-- Image 2: https://www.google.com/url?sa=i&url=https%3A%2F%2Ffilmwonk.net%2F2022%2F07%2F22%2Fnope-dir-jordan-peele-a-cowboy-hat-trick%2F&psig=AOvVaw3cZo7jI7wCeZd9iD0aK6Lx&ust=1670366649453000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCNiU9efG4_sCFQAAAAAdAAAAABAF  -->
<!-- Image 3: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.irishfilmcritic.com%2Fcolin-farrell-brendan-gleeson-are-the-banshees-of-inisherin%2F&psig=AOvVaw1Nh1Z95nNehx7cqhNqnWYj&ust=1670366724812000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCLjvh4zH4_sCFQAAAAAdAAAAABAF  -->

<html>

<head>

	<title>Movie Night App - Backend Database Tool</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='app.css') }}">

    {% include "_nav.j2" %}

    <script type="text/javascript">
    </script>

</head>

</body>
    <br>
    <br>
    <h1>Movie Night App - Backend Database Tool</h1>

    <p>This tool supports the backend database for the Movie Night App</p>
    <p></p>
    
    <form id="movie_summary" action="/movie_summary" method="post">

        <!-- Movie summary form -->
        <!-- This uses movie_list passed from app.py --> 

        <label for="movie_name">Movie Name:</label>
        <select class="form-control" id="movie_id" name="movie_id" placeholder="" required>
            <option value="" selected="selected"></option>
            {% for row in movie_list %} 
            <option value="{{row.movie_id}}">{{row.movie_name}}</option>
            {% endfor %}
        </select> 

        <input type="submit" value="See Movie Summary" name="movie_summary" class="btn btn-primary" style="margin:.5rem;">

    </form>

    <p><b>Instructions:</b></p>   
    <p>1. Enter the actors, directors, and genres first before adding a movie (with director), movie actor, and movie genres.</p>
    <p>2. Enter the user and movie before adding a user review.
    </p> 

    <p class="add-space"><b>Movies currently in theaters:</b></p>
    <div class="slider">
      <span id="slide-1"></span>
      <span id="slide-2"></span>
      <span id="slide-3"></span>
      <div class="image-container">
        <img src="static/img1.jpg" class="slide" width="500" height="300" />
        <img src="static/img2.jpg" class="slide" width="500" height="300" />
        <img src="static/img3.jpg" class="slide" width="500" height="300" />
      </div>
      <div class="buttons">
        <a href="#slide-1"></a>
        <a href="#slide-2"></a>
        <a href="#slide-3"></a>
      </div>
    </div>

<footer>
	<p>Created by Michael Hrenko & Allysa Foot. © 2020</p>
</footer>
</body>
</html>