<!-- Sources: -->
<!-- (1) "flask-starter-app", mlapresta, Andrew Kamand, https://github.com/osu-cs340-ecampus/flask-starter-app
		 - Scope: Most sections below.
		 - Date: First instance of using the code started on 10/08/2022.
		 - Originality: Our code/approach was based on this source, but it deviated materially 
			as we learned additional techniques via trial and error. --> 

<!-- (2) "Template Designer Documentation", Pallets, https://jinja.palletsprojects.com/en/3.1.x/templates/
		 - Scope: Areas where jinja is used and also include statements.
		 - Date: First instance of using the code started on 11/15/2022.
		 - Originality: Our code/approach was based on this source. -->

<html>

<head>
	<title>Users</title>

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='app.css') }}">
	
	<!-- Call the included tempate _nav to render the nav links -->	
	{% include "_nav.j2" %}

	<!-- Dynamic display to show browse or insert -->
	<script type="text/javascript">
	function showform(dowhat) {

		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
		}
	}

	function newUser() {
		showform('insert');
	}

	function browseUsers() {
		showform('browse');
	}

	</script>
</head>

<body onload="browseUsers()">
	<br>
    <br>
	<h1>Users</h1> 

	<div id="browse">

		<p><a href="#" onClick="newUser()">Add New User</a></p>

		<!-- Call the included tempate _create_table to render the table -->
		{% set createTbl = 'users' %}
		{% include "_create_table.j2" %}

	<p>&nbsp;</p>
	</div>

	<div id="insert">

		<!-- Insert user form -->

		<form id="insertUser" action="/users" method="post">
			<legend><strong>Add user below:</strong></legend>
			<fieldset>

				<label for="user_first_name">User First Name:</label>
				<input type="text" class="form-control" id="user_first_name" name="user_first_name" placeholder="" required>
				<br>
				<br>

				<label for="user_last_name">User Last Name:</label>
				<input type="text" class="form-control" id="user_first_name" name="user_last_name" placeholder="" required>
				<br>
				<br>
	
				<label for="user_email">User Email Address:</label>
				<input type="email" class="form-control" id="user_email" name="user_email" placeholder="" required>

            </fieldset>

			<!-- Add and cancel buttons -->
			<input type="submit" value="Add User" name="Add_User" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseUsers()"> 

        </form>
	</div>

<footer>
	<p>Created by Michael Hrenko & Allysa Foot. © 2020</p>
</footer>
</body>
</html>